@import url(//db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Circular Spotify Tx T Black";
}

/* Menu Section */

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 1.1rem 4rem;
}

#menu .brand img {
    height: 40px;
    cursor: pointer;
}

#menu nav a, #menu nav span {
    padding-right: 25px;
    color: #ffffff;
    font-size: 1rem;
}

#menu nav a:hover {
    color: #1ed760;
}


/* Body Home */

#content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 65, 171);
    background-image: url(img/bursts.svg);
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: 46% 4%;
    padding: 11rem 2rem;
}

#content h1 {
    font-size: 9.75rem;
    font-weight: 900;
    line-height: 10.3rem;
    padding-bottom: 2.5rem;
    text-align: center;
    color: #1ed760;
    text-indent: -10rem;
    transform: translate(1.5rem, 0px);
}

#content p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #1ed760;
    padding-bottom: 2.5rem;
    font-weight: 300;
    letter-spacing: 0px;
}

#content button {
    background-color: #1ed760;
    color: #2941AB;
    padding: 0.3rem 2rem;
    font-size: 1rem;
    border-radius: 30rem;
    cursor: pointer;
    user-select: none;
    border: thin solid #2941AB;
    transition: all 0.1s ease-in-out;
    line-height: 2.5;
    touch-action: manipulation; /* to prevent page zoom on double tap */
}

#content button:hover {
    transform: scale(1.03);
    background-color: #22ee69;
}

/* Footer Section  */

footer {
    padding: 5.1rem 4rem 3.5rem;
    background-color: #000000;
    color: #ffffff;
}

footer img {
    height: 40px;
    cursor: pointer;
}

footer .first-container {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
}

footer .first-container a {
    display: block;
}

footer .first-container .brand-and-links {
    display: flex;
}

footer .first-container .links {
    padding-right: 5rem;
}

footer .first-container .links a {
    font-size: 1rem;
    color: #fbfbfb;
}

footer .first-container .links a:hover {
    color: #22ee69;
}

footer .first-container .links p {
    color: #919496;
    font-size: 0.8rem;
}

footer .first-container .links a, footer .first-container .links p {
    line-height: 3;
}

footer .first-container .social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .first-container .social .social-icon img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #222326;
    padding: 15px;
    margin-left: 1rem;
}

footer .first-container .social .instagram {
    background-image: url(img/instagram.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #222326;
    padding: 5px;
    background-position: center;
    margin-left: 1rem;
}

footer .first-container .social .instagram:hover {
    background-image: url(img/instagram-color.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #222326;
    padding: 5px;
    background-position: center;
    margin-left: 1rem;
}

footer .first-container .social .twitter {
    background-image: url(img/twitter.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #222326;
    padding: 5px;
    background-position: center;
    margin-left: 1rem;
}

footer .first-container .social .twitter:hover {
    background-image: url(img/twitter-color.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #222326;
    padding: 5px;
    background-position: center;
    margin-left: 1rem;
}

footer .first-container .social .facebook {
    background-image: url(img/facebook.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #222326;
    padding: 5px;
    background-position: center;
    margin-left: 1rem;
}

footer .first-container .social .facebook:hover {
    background-image: url(img/facebook-color.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #222326;
    padding: 5px;
    background-position: center;
    margin-left: 1rem;
}

footer .second-container .globe-country {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    column-gap: 0.5rem;
}

footer .second-container .globe-country img {
    width: 1rem;
}

footer .second-container .globe-country p {
    font-size: 0.7rem;
    color: #919496;
}

footer .second-container .globe-country p:hover {
    color: #22ee69;
}

footer .second-container .links-and-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .second-container .policy-links a {
    color: #fbfbfb;
    padding-right: 2rem;
    font-size: 0.7rem;
}

footer .second-container .policy-links a:hover {
    color: #22ee69;
}

footer .second-container .copyright p {
    color: #fbfbfb;
    font-size: 0.7rem;
}


/* Premium Page */

/* Premium Top  */
#premium .premium-top {
    background-color: rgb(29, 117, 222);
    color: #ffffff;
}

.premium-margin{
    margin: 0 2.9rem;
    padding: 4.5rem 1rem 2.5rem;
}

#premium .premium-top h1{
    font-size: 2.5rem;
    line-height: 1.2;
}

#premium .premium-top h2{
    font-size: 1.5rem;
    margin-top: 1.9rem;
}

.premium-top-btns {
    display: flex;
    gap: 0.5rem;
    margin-top: 2.2rem;
}

.premium-top-btns a {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 1.25rem;
    user-select: none;
    background-color: rgb(25, 20, 20);
    padding: 0.9rem 2rem;
    border-radius: 31.25rem;
    border: 2px solid rgb(25, 20, 20);
    outline: 0;
    -webkit-font-smoothing: antialiased;
}

.premium-top-btns .fill:hover {
    border: 2px solid #000;
    transform: scale(1.03);
    background-color: #000;
}

.premium-top-btns .transparent {
    border: 2px solid #ffffff;
    background-color: transparent;
}

.premium-top-btns .transparent:hover {
    transform: scale(1.03);
}

.premium-top p{
    margin-top: 2.5rem;
    font-size: 0.7rem;
    line-height: 1rem;
}

.premium-top p a{
    color: #ffffff;
    text-decoration: underline;
}

/* Premium Middle  */

.premium-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4.7rem;
}

.premium-middle .heading {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 4.5rem;
}

.premium-middle-flex {
    display: flex;
    gap: 7rem;
    text-align: center;
}

.premium-middle-flex img {
    width: 9rem;
    margin-bottom: 2.5rem;
}

.premium-middle .first-p {
    font-size: 1.3rem;
    line-height: 1.3em;
    margin-bottom: 0.6rem;
}

.premium-middle .second-p {
    font-size: 1rem;
}

/* Premium Bottom */

.premium-bottom {
    background-color: #efefef;
}
