@import url(//db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Circular Spotify Tx T Black";
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* Menu Section */

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 1.1rem 4rem;
}

#menu .brand img {
    height: 40px;
    cursor: pointer;
}

#menu nav a, #menu nav span {
    padding-right: 25px;
    color: #ffffff;
    font-size: 1rem;
}

#menu nav a:hover {
    color: #1ed760;
}


/* Body Home */

#content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 65, 171);
    background-image: url(img/bursts.svg);
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: 46% 4%;
    padding: 11rem 2rem;
}

#content h1 {
    font-size: 9.75rem;
    font-weight: 900;
    line-height: 10.3rem;
    padding-bottom: 2.5rem;
    text-align: center;
    color: #1ed760;
    text-indent: -10rem;
    transform: translate(1.5rem, 0px);
}

#content p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #1ed760;
    padding-bottom: 2.5rem;
    font-weight: 300;
    letter-spacing: 0px;
}

#content button {
    background-color: #1ed760;
    color: #2941AB;
    padding: 0.3rem 2rem;
    font-size: 1rem;
    border-radius: 30rem;
    cursor: pointer;
    user-select: none;
    border: thin solid #2941AB;
    transition: all 0.1s ease-in-out;
    line-height: 2.5;
    touch-action: manipulation; /* to prevent page zoom on double tap */
}

#content button:hover {
    transform: scale(1.03);
    background-color: #22ee69;
}

/* Footer Section  */

footer {
    padding: 5.1rem 4rem 3.5rem;
    background-color: #000000;
    color: #ffffff;
}

footer img {
    height: 40px;
    cursor: pointer;
}

footer .first-container {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
}

footer .first-container a {
    display: block;
}

footer .first-container .brand-and-links {
    display: flex;
}

footer .first-container .links {
    padding-right: 5rem;
}

footer .first-container .links a {
    font-size: 1rem;
    color: #fbfbfb;
}

footer .first-container .links a:hover {
    color: #22ee69;
}

footer .first-container .links p {
    color: #919496;
    font-size: 0.8rem;
}

footer .first-container .links a, footer .first-container .links p {
    line-height: 3;
}

footer .first-container .social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .first-container .social .social-icon img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #222326;
    padding: 15px;
    margin-left: 1rem;
}

footer .first-container .social .instagram {
    background-image: url(img/instagram.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #222326;
    padding: 5px;
    background-position: center;
    margin-left: 1rem;
}

footer .first-container .social .instagram:hover {
    background-image: url(img/instagram-color.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #222326;
    padding: 5px;
    background-position: center;
    margin-left: 1rem;
}

footer .first-container .social .twitter {
    background-image: url(img/twitter.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #222326;
    padding: 5px;
    background-position: center;
    margin-left: 1rem;
}

footer .first-container .social .twitter:hover {
    background-image: url(img/twitter-color.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #222326;
    padding: 5px;
    background-position: center;
    margin-left: 1rem;
}

footer .first-container .social .facebook {
    background-image: url(img/facebook.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #222326;
    padding: 5px;
    background-position: center;
    margin-left: 1rem;
}

footer .first-container .social .facebook:hover {
    background-image: url(img/facebook-color.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #222326;
    padding: 5px;
    background-position: center;
    margin-left: 1rem;
}

footer .second-container .globe-country {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    column-gap: 0.5rem;
}

footer .second-container .globe-country img {
    width: 1rem;
}

footer .second-container .globe-country p {
    font-size: 0.7rem;
    color: #919496;
}

footer .second-container .globe-country p:hover {
    color: #22ee69;
}

footer .second-container .links-and-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .second-container .policy-links a {
    color: #fbfbfb;
    padding-right: 2rem;
    font-size: 0.7rem;
}

footer .second-container .policy-links a:hover {
    color: #22ee69;
}

footer .second-container .copyright p {
    color: #fbfbfb;
    font-size: 0.7rem;
}


/* Premium Page */

/* Premium Top  */
#premium .premium-top {
    background-color: rgb(29, 117, 222);
    color: #ffffff;
}

.premium-margin{
    margin: 0 2.9rem;
    padding: 4.5rem 1rem 2.5rem;
}

#premium .premium-top h1{
    font-size: 2.5rem;
    line-height: 1.2;
}

#premium .premium-top h2{
    font-size: 1.5rem;
    margin-top: 1.9rem;
}

.premium-top-btns {
    display: flex;
    gap: 0.5rem;
    margin-top: 2.2rem;
}

.premium-top-btns a {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 1.25rem;
    user-select: none;
    background-color: rgb(25, 20, 20);
    padding: 0.9rem 2rem;
    border-radius: 31.25rem;
    border: 2px solid rgb(25, 20, 20);
    outline: 0;
    -webkit-font-smoothing: antialiased;
}

.premium-top-btns .fill:hover {
    border: 2px solid #000;
    transform: scale(1.03);
    background-color: #000;
}

.premium-top-btns .transparent {
    border: 2px solid #ffffff;
    background-color: transparent;
}

.premium-top-btns .transparent:hover {
    transform: scale(1.03);
}

.premium-top p{
    margin-top: 2.5rem;
    font-size: 0.7rem;
    line-height: 1rem;
}

.premium-top p a{
    color: #ffffff;
    text-decoration: underline;
}

/* Premium Middle  */

.premium-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4.7rem;
}

.premium-middle .heading {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 4.5rem;
}

.premium-middle-flex {
    display: flex;
    gap: 7rem;
    text-align: center;
}

.premium-middle-flex img {
    width: 9rem;
    margin-bottom: 2.5rem;
}

.premium-middle .first-p {
    font-size: 1.3rem;
    line-height: 1.3em;
    margin-bottom: 0.6rem;
}

.premium-middle .second-p {
    font-size: 1rem;
}

/* Premium Bottom */

.premium-bottom {
    background-color: #efefef;
    padding-bottom: 5rem;
}

.premium-bottom .heading h2 {
    font-size: 2.5rem;
    text-align: center;
}

.premium-bottom .heading h3 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.625rem;
}

.premium-bottom .pricing {
    padding: 1rem 1rem 0;
    border-radius: 0.625rem;
    box-shadow: rgb(255 255 255) 0px 8px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
    background-color: rgb(255, 255, 255);
}

.pricing-boxes {
    display: flex;
    gap: 1rem;
}

.pricing {
    position: relative;
    height: 570px;
    margin-top: 3.125rem;
    flex: 1 1 0;
}

.pricing .first {
    background-color: rgb(46, 119, 208);
    color: #ffffff;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.625rem;
    width: fit-content;
}

.pricing .second {
    color: rgb(46, 119, 208);
    background-color: rgb(255, 255, 255);
    border: thin solid rgb(46, 119, 208);
    border-radius: 0.25rem;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.625rem;
    width: fit-content;
}

.pricing h3{
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
}

.pricing .third {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 0.125rem;
}

.pricing .fourth {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 1.25rem;
}

.pricing hr {
    position:absolute;
    top: 200px;
    border-top-color: rgb(204, 204, 204);
    width: 90%;
    margin: 0 auto;
}

#arrow-and-text {
    position:absolute;
    top: 210px;
    margin-top: 1.25rem;
    margin-bottom: 3.5rem;
}

.arrow-and-text {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding-bottom: 1rem;
    width: 90%;
    margin: 0 auto;
}

.pricing .started {
    position:absolute;
    top: 420px;
    display: inline-block;
    background-color: #191414;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 1.25rem;
    user-select: none;
    padding: 0.9rem 4.5rem;
    border-radius: 31.25rem;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 1rem;
}

.pricing .started:hover {
    transform: scale(1.03);
}

.pricing .last {
    position:absolute;
    top: 490px;
    font-size: 0.75rem;
    color: rgb(83, 83, 83);
    padding-bottom: 1rem;
}

.pricing .last a{
    color: rgb(83, 83, 83);
    text-decoration: underline;
}


/* Support Page*/

/* First Section */
.support {
    background: url(img/search-desktop.webp) top/100% no-repeat #052a56;
    text-align: center;
    padding-bottom: 1.5rem;
}

.support h1 {
    color: #ffffff;
    font-size: 4rem;
    padding: 5rem 0 2.5rem;
}

.support input[type=text] {
    display: block;
    width: 60%;
    margin: 0 auto;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z' %3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    font-size: 1rem;
    font-stretch: 100%;
    padding: 0.9rem 0.9rem 0.9rem 3rem;
    color: #6a6a6a;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #878787;
    transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
    border-radius: 0.25rem;
    border: 0;
    outline: 0;
    margin-bottom: 1.5rem;
}

.support input[type=text]:hover{
    box-shadow: inset 0 0 0 1px #000000;
}

.support-four {
    display: flex;
    justify-content: center;
    gap: 2.2rem;
    padding: 1.9rem 0 2.5rem;
}

.support-four h3{
    font-size: 0.8rem;
    letter-spacing: 0.08rem;
    line-height: 20px;
    margin: 0.5rem 0;
    color: #d9d9d9;
    text-transform: uppercase;
}

.support-four a{
    font-size: 1.125rem;
    cursor: pointer;
    color: #ffffff;
    margin-bottom: 0.94rem;
    line-height: rgb(255, 255, 255);
}

/* Help Section */

.help {
    background-color: #eee;
    padding: 1.9rem 0 1.25rem;
}

.help-group {
    display: flex;
    justify-content: center;
    /* gap: 10rem; */
}

.help-group a{
    display: block;
}

.help-item {
    padding: 1rem;
    width: 25%;
}

.help-item h3{
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.04em;
    padding-bottom: 1.5rem;
}

.help-item a {
    margin-bottom: 0.9rem;
    font-size: 1.125rem;
    color: #117a37;
}

/* Visit Community */

.visit-community {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1rem;
    text-align: center;
}

.visit-community h2{
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 2rem;
}

.visit-community p {
    max-width: 500px;
    font-size: 1.125rem;
    padding-bottom: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.visit-community a {
    font-size: 0.9rem;
    line-height: 1.25rem;
    border-radius: 31.25rem;
    display: inline-block;
    user-select: none;
    padding: 0.9rem 2rem;
    background-color: rgb(30, 215, 96);
    color: #000;
    line-height: 1.25rem;
    outline: 0;
    border: 0;
}

.visit-community a:hover {
    transform: scale(1.03);
    background-color: #22ee69;
}